*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
body {
  background-color: #333;
  margin: 0;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
